*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

.menu-mod1{
    background-color: lightslategray;
    height: 100vh;
    border:1px solid #c0c0c0;
    float:left;
}

.submenu {
  /*  background-color: goldenrod;*/
}
nav a{
     color:#333;
     text-decoration:none; 
     padding:5px 10px; 
     display:block;
}

.menu-mod1 li{
    position:relative;
    list-style-type: none;
}

li a:hover{
    text-shadow:0px 0px 5px #fff;
}

li > ul {
    top:25px;
    left:0;
    display:none;
}

li:hover > ul, li.over {
    display:block;
}

ul li{
    min-width: 200px;
}

.item-menu{
    padding-left: 30px;
}

.ico{
    padding-left: 8px;
}

/*https://blog.wgbn.com.br/criando-um-menu-lateral-personalizado-com-css-em-projetos-ionic-8f3f4e3b2a44*/